<launch>
  <arg name="robot_name" default="carter1" />
  
  <arg name="odom_frame_id"   default="$(arg robot_name)/odom"/>
  <arg name="base_frame_id"   default="$(arg robot_name)/base_link"/>
  <arg name="global_frame_id" default="map"/>

  <arg name="odom_topic" default="/$(arg robot_name)/odom" />
  <arg name="laser_topic" default="/$(arg robot_name)/scan" />

  <node pkg="move_base" type="move_base" respawn="false" name="move_base_$(arg robot_name)" output="screen">
  
    <rosparam file="$(find carter_2dnav)/params/costmap_common_params.yaml" command="load" ns="global_costmap" /> 
    <rosparam file="$(find carter_2dnav)/params/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find carter_2dnav)/params/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find carter_2dnav)/params/global_costmap_params.yaml" command="load" /> 
    <rosparam file="$(find carter_2dnav)/params/base_local_planner_params.yaml" command="load" />

    <!-- reset frame_id parameters using user input data -->
    <param name="global_costmap/global_frame"                                      value="$(arg global_frame_id)"/>
    <param name="global_costmap/robot_base_frame"                                  value="$(arg base_frame_id)"/>
    <param name="local_costmap/global_frame"                                       value="$(arg odom_frame_id)"/>
    <param name="local_costmap/robot_base_frame"                                   value="$(arg base_frame_id)"/>
    <param name="global_costmap/laser_scan_sensor/sensor_frame"                    value="$(arg robot_name)/carter_lidar" />
    <param name="global_costmap/laser_scan_sensor/topic"                           value="/$(arg robot_name)/scan" />
    <param name="local_costmap/laser_scan_sensor/sensor_frame"                     value="$(arg robot_name)/carter_lidar" />
    <param name="local_costmap/laser_scan_sensor/topic"                            value="/$(arg robot_name)/scan" />

    <remap from="cmd_vel"                                                          to="/$(arg robot_name)/cmd_vel"/>
    <remap from="odom"                                                             to="$(arg odom_topic)"/>
    <remap from="scan"                                                             to="$(arg laser_topic)"/>
    <remap from="map"                                                              to="/map" />
    <remap from="/move_base_simple/goal"                                           to="/$(arg robot_name)/move_base_simple/goal" />
    <remap from="/move_base/TrajectoryPlannerROS/global_plan"                      to="/$(arg robot_name)/move_base/TrajectoryPlannerROS/global_plan" />
    <remap from="/move_base/TrajectoryPlannerROS/local_plan"                       to="/$(arg robot_name)/move_base/TrajectoryPlannerROS/local_plan" />
    <remap from="/move_base/global_costmap/costmap"                                to="/$(arg robot_name)/move_base/global_costmap/costmap" />
    <remap from="/move_base/global_costmap/costmap_updates"                        to="/$(arg robot_name)/move_base/global_costmap/costmap_updates" />
    <remap from="/move_base/local_costmap/costmap"                                 to="/$(arg robot_name)/move_base/local_costmap/costmap" />
    <remap from="/move_base/local_costmap/costmap_updates"                         to="/$(arg robot_name)/move_base/local_costmap/costmap_updates" />
    <remap from="/move_base/local_costmap/footprint"                               to="/$(arg robot_name)/move_base/local_costmap/footprint" />
    <remap from="/move_base/TrajectoryPlannerROS/obstacles"                        to="/$(arg robot_name)/move_base/TrajectoryPlannerROS/obstacles" />
    <remap from="/move_base/TrajectoryPlannerROS/parameter_descriptions"           to="/$(arg robot_name)/move_base/TrajectoryPlannerROS/parameter_descriptions" />
    <remap from="/move_base/TrajectoryPlannerROS/parameter_updates"                to="/$(arg robot_name)/move_base/TrajectoryPlannerROS/parameter_updates" />
    <remap from="/move_base/cancel"                                                to="/$(arg robot_name)/move_base/cancel" />
    <remap from="/move_base/current_goal"                                          to="/$(arg robot_name)/move_base/current_goal" />
    <remap from="/move_base/feedback"                                              to="/$(arg robot_name)/move_base/feedback" />
    <remap from="/move_base/global_costmap/footprint"                              to="/$(arg robot_name)/move_base/global_costmap/footprint" />
    <remap from="/move_base/global_costmap/inflation_layer/parameter_descriptions" to="/$(arg robot_name)/move_base/global_costmap/inflation_layer/parameter_descriptions" />
    <remap from="/move_base/global_costmap/inflation_layer/parameter_updates"      to="/$(arg robot_name)/move_base/global_costmap/inflation_layer/parameter_updates" />
    <remap from="/move_base/global_costmap/obstacle_layer/clearing_endpoints"      to="/$(arg robot_name)/move_base/global_costmap/obstacle_layer/clearing_endpoints" />
    <remap from="/move_base/global_costmap/obstacle_layer/parameter_descriptions"  to="/$(arg robot_name)/move_base/global_costmap/obstacle_layer/parameter_descriptions" />
    <remap from="/move_base/global_costmap/obstacle_layer/parameter_updates"       to="/$(arg robot_name)/move_base/global_costmap/obstacle_layer/parameter_updates" />
    <remap from="/move_base/global_costmap/parameter_descriptions"                 to="/$(arg robot_name)/move_base/global_costmap/parameter_descriptions" />
    <remap from="/move_base/global_costmap/parameter_updates"                      to="/$(arg robot_name)/move_base/global_costmap/parameter_updates" />
    <remap from="/move_base/global_costmap/static_layer/parameter_descriptions"    to="/$(arg robot_name)/move_base/global_costmap/static_layer/parameter_descriptions" />
    <remap from="/move_base/global_costmap/static_layer/parameter_updates"         to="/$(arg robot_name)/move_base/global_costmap/static_layer/parameter_updates" />
    <remap from="/move_base/goal"                                                  to="/$(arg robot_name)/move_base/goal" />
    <remap from="/move_base/local_costmap/obstacle_layer/parameter_descriptions"   to="/$(arg robot_name)/move_base/local_costmap/obstacle_layer/parameter_descriptions" />
    <remap from="/move_base/local_costmap/obstacle_layer/parameter_updates"        to="/$(arg robot_name)/move_base/local_costmap/obstacle_layer/parameter_updates" />
    <remap from="/move_base/local_costmap/parameter_descriptions"                  to="/$(arg robot_name)/move_base/local_costmap/parameter_descriptions" />
    <remap from="/move_base/local_costmap/parameter_updates"                       to="/$(arg robot_name)/move_base/local_costmap/parameter_updates" />
    <remap from="/move_base/local_costmap/static_layer/parameter_descriptions"     to="/$(arg robot_name)/move_base/local_costmap/static_layer/parameter_descriptions" />
    <remap from="/move_base/local_costmap/static_layer/parameter_updates"          to="/$(arg robot_name)/move_base/local_costmap/static_layer/parameter_updates" />
    <remap from="/move_base/parameter_descriptions"                                to="/$(arg robot_name)/move_base/parameter_descriptions" />
    <remap from="/move_base/parameter_updates"                                     to="/$(arg robot_name)/move_base/parameter_updates" />
    <remap from="/move_base/result"                                                to="/$(arg robot_name)/move_base/result" />
    <remap from="/move_base/status"                                                to="/$(arg robot_name)/move_base/status" />
    <remap from="/move_base_simple/goal"                                           to="/$(arg robot_name)/move_base_simple/goal" />
    <remap from="/move_base/TrajectoryPlannerROS/cost_cloud"                       to="/$(arg robot_name)/move_base/TrajectoryPlannerROS/cost_cloud" />
    <remap from="/move_base/local_costmap/inflation_layer/parameter_descriptions"  to="/$(arg robot_name)/move_base/local_costmap/inflation_layer/parameter_descriptions" />
    <remap from="/move_base/local_costmap/inflation_layer/parameter_updates"       to="/$(arg robot_name)/move_base/local_costmap/inflation_layer/parameter_updates" />

  </node>

</launch>