<launch>
    <!-- VINS config -->
    <param name="vins_config_file" type="string" value="$(find isaac_vins)/config/isaac_a1/vins_fusion_isaac_a1.yaml" />
    
    <node name="vinsfusion" pkg="vins" type="vins_node"
            args="$(find isaac_vins)/config/isaac_a1/vins_fusion_isaac_a1.yaml" output="screen"/>

    <!-- publish a fix transformation, "world" of VINS-FUSION is at IMU, which is higher than the actual ground origin -->
    <node pkg="tf" type="static_transform_publisher" name="ground_to_world"
          args="0.0 0.0 -0.3 0.0 0.0 0.0 /world /a1_world 1000" />

    <node pkg="tf" type="static_transform_publisher" name="body_to_a1_body"
          args="0 0 0 0 0 0 /body /a1_body 1000" />

    <!-- RVIZ config -->
    <node name="rvizvisualisation" pkg="rviz" type="rviz" output="log" args="-d $(find isaac_vins)/rviz/isaac_vins_rviz_config.rviz" />
</launch>

